body {
	h1 {
		color: #337ab7;
		text-align: center;
	}
}

input {
	padding: 14px;
	border: 0px;
	border-radius: 6px;
	&:focus {
	background: whitesmoke;
	outline: none;
		}
}

.search-bar {
	width: 50%;
	background: #ddd;
	padding: 20px;

}

.panel-body {
	text-align: center;
}

#output {
	img {
		height: 100px;
		width: 100px;
		margin: 5px;
		display: inline-block;
		border-radius: 100%;
	}
}